@import "~antd/dist/antd.css";

.search-fields {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-result {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px 10px;
  box-shadow: 0px 1px 5px #b3b3b3;
  position: absolute;
  top: 73%;
  width: 100%;
  & :last-child {
    border: none !important;
  }
  & > li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(228, 227, 227);
    padding: 10px 5px;
    & > a {
      color: black;
      &:hover {
        color: blue;
      }
    }
  }
}
.search-list {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #b3b3b3;
  flex: unset;
  position: absolute;
  top: 52.1%;
  right: 33.3%;
}
.search-input {
  width: 100%;
  flex: unset;
  position: relative;
}
.search-btn {
  position: absolute;
  right: 0px;
  height: 40px;
  // background: blue !important;
  & > a {
    color: white;
  }
}
