.results-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px 24px;
  width: 100%;
  & > li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e4e3e3;
    padding: 10px 5px;
    height: 70px;
    display: flex;
    align-items: center;
    & > a {
      color: #3b3b3b;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }
  }
}
.not-found {
  display: flex;
  justify-content: center;
  font-size: 52px;
  color: gray;
  font-weight: bold;
}
